@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lato';
  src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'latolight';
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'latobold';
  src: url('/fonts/Lato-Bold.ttf');
}

*{
  scroll-behavior: smooth;
}
.topDivider {
  clip-path: polygon(0 0,100% 0,100% 100%,50% calc(100% - 50px),0 100%);
}
.bottomDivider {
  clip-path: polygon(0 50px,50% 0,100% 50px,100% 100%,0 100%);
  margin-top: -40px;
}
